<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="{{ user.display_name }}さんは、INIAD meets webのクイズに参加して{{ user.get_question_count }}問中{{ user.get_correct_count }}問正解しました">
    <meta property="og:url" content="https://meets.iniad.net/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="INIAD meets web">
    <meta property="og:description" content="{{ user.display_name }}さんは、INIAD meets webのクイズに参加して{{ user.get_question_count }}問中{{ user.get_correct_count }}問正解しました">
    <meta property="og:site_name" content="INIAD meets web">
    <meta property="og:image" content="{{ site_host }}{% url 'sns_share_image' user.uuid %}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@iniad_webmedia">
    <style>
        html, body, .image{
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
        .image{
            background-size: contain;
            background-image: url("{% url 'sns_share_image' user.uuid %}");
            background-repeat: no-repeat;
            background-position: center;
        }
    </style>
    <title>{{ user.display_name }}さんのクイズ結果</title>
</head>
<body>
    <div class="image"></div>
</body>
</html>
