{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@600&family=M+PLUS+Rounded+1c:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "/css/admin.css" %}?1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="description" content="INIAD 公認サークルの合同Web新歓のページです。">
    <meta property="og:url" content="https://meets.iniad.net/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="INIAD meets Web">
    <meta property="og:description" content="INIAD 公認サークルの合同Web新歓のページです。">
    <meta property="og:site_name" content="INIAD meets Web">
    <meta property="og:image" content="https://meets.iniad.net/static/img/thumbnail.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@iniad_webmedia">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163289416-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-163289416-1');
    </script>
    <title>サークル参加受付 - INIAD meets web</title>
</head>
<body>
<header>
    <h1><img src="{% static "/img/logo.svg" %}" alt="INIAD meets Web"></h1>
</header>
<main>
    <article>
        <h2>サークル参加概要</h2>
        <div style="font-size: 0.8em">
            <p>
                INIAD公認サークルオンライン新歓イベント「INIAD meets web」を2021年4月下旬に開催予定です。<br>
                各サークルへのリアルタイムなチャットによる質問、クイズ企画など、双方向で参加者が楽しめるイベントを目指して準備を進めています。
            </p>
            <p style="margin-bottom: 0">
                サークル参加には、原則として3/28(日)までに
            </p>
            <ul style="margin-top: 0; margin-bottom: 0;">
                <li>1分半〜3分程度の動画</li>
                <li>1枚のPDF(簡単なサークルの説明)</li>
            </ul>
            <p style="margin-top: 0">
                が必要です。<br>
                <small>(PDFは東洋大学新歓やINIAD Google Driveへの掲載と同じものでも全く問題ありません。)</small>
            </p>
            <p>
                また、参加いただけるサークルの方はなるべくイベント当日にサークルから1、2名程度、質問対応のために会場へお越しください。<br>
                <small>
                    ※正式な日程がまだ確定しておりませんので、日程確定後に当日都合がつけばで構いません。なるべくご対応いただければと思います。<br>
                    　現状では4月20日前後の授業後6限時間帯を予定しております。
                </small>
            </p>
            <p>
                大学事務課や学部のご協力により、メール連絡や新入生ガイダンスでの案内など、<br>
                新入生へ十分告知いただけるよう準備をしていただいております。<br>
                新入生へINIADのいろいろなサークル活動を知っていただく機会として、<br>
                ぜひ多くのサークルにご参加いただけますと幸いです。
            </p>
        </div>
    </article>
    <section>
        <h2>参加受付</h2>
        {% if user.is_authenticated %}
            <p>ご参加いただけるサークルの担当者の方はこちらのフォームから登録をお願いします。</p>
            <form method="post">
                {% csrf_token %}
                <dl>
                    <dt><label for="circle_name">サークル名</label></dt>
                    <dd><input type="text" id="circle_name" name="name" placeholder="サークル名"></dd>
                    <dt><label for="leader_name">サークル代表者名</label></dt>
                    <dd><input type="text" id="leader_name" name="leader_name" placeholder="サークル代表者名"></dd>
                    <dt><label for="entry_user_name">サークル担当者名</label></dt>
                    <dd><input type="text" id="entry_user_name" name="entry_user_name" placeholder="サークル担当者(原則としてこのフォームの送信者)名"></dd>
                </dl>
                <p><input type="submit" value="参加登録"></p>
            </form>
        {% else %}
            <p class="task-link"><a href="/auth/google/login/?next={{ request.path }}">INIADアカウントでログインして受付</a></p>
        {% endif %}
    </section>
</main>
</body>
</html>
