$theme-color: #36B0CC;
$background-color: #EFEFEF;
$sub-color: #D35F55;
$text-color: #4D4D4D;
$dark-button-color: #4B4B4B;
$light-button-color: #808080;
$shadow-color: #727272BF;
$placeholder-color: #B3B3B3;
$mention-color: #30A4B7;
