{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@600&family=M+PLUS+Rounded+1c:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "/css/admin.css" %}?2">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="description" content="今年もあいつがやってくる！！ INIAD公認サークルWeb新歓「INIAD meets web」のサークル参加を受け付けています！">
    <meta property="og:url" content="https://meets.iniad.net/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="INIAD meets Web">
    <meta property="og:description" content="今年もあいつがやってくる！！ INIAD公認サークルWeb新歓「INIAD meets web」のサークル参加を受け付けています！">
    <meta property="og:site_name" content="INIAD meets Web">
    <meta property="og:image" content="https://meets.iniad.net/static/img/circle_eyecatch.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@iniad_webmedia">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163289416-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-163289416-1');
    </script>
    <script>
        const checkIsSlackJoined = () => {
            fetch("{% url 'api_is_slack_joined' %}")
                    .then((response) => {
                        return response.json()
                    })
                    .then((result) => {
                        if (result.is_slack_joined){
                            document.getElementById("slack-link").classList.add("finished")
                        } else {
                            setTimeout(checkMovieUploaded, 1000)
                        }
                    })
        }
        const openSlackJoin = () => {
            openMovieFormAt = new Date()
            if (!document.getElementById("movie-link").classList.contains("finished")){
                setTimeout(checkIsSlackJoined, 1000)
            }
        }
        let openMovieFormAt = new Date()
        const checkMovieUploaded = () => {
            fetch("{% url 'api_movie_uploaded' circle.pk %}")
            .then((response) => {
                return response.json()
            })
            .then((result) => {
                if (new Date(result.movie_uploaded_at) > openMovieFormAt){
                    document.getElementById("movie-link").classList.add("finished")
                } else {
                    setTimeout(checkMovieUploaded, 1000)
                }
            })
        }
        const openMovieForm = () => {
            openMovieFormAt = new Date()
            document.getElementById("movie-link").classList.remove("finished")
            setTimeout(checkMovieUploaded, 1000)
        }
    </script>
    <title>サークル参加受付 - INIAD meets web</title>
</head>
<body>
<header>
    <h1><img src="{% static "/img/logo.svg" %}?2021" alt="INIAD meets Web"></h1>
</header>
<main>
    <section id="menu-page">
        <h2>参加登録完了</h2>
        {% if admin_circles.count > 1 %}
            <nav id="circle-list-wrap">
                <p>
                    <label for="circle-list">操作中のサークル</label>
                    <select id="circle-list">
                        <option value="./">サークル選択</option>
                        {% for c in admin_circles %}
                            <option value="{{ c.pk }}"{% if circle.pk == c.pk %} selected{% endif %}>{{ c.name }}</option>
                        {% endfor %}
                    </select>
                </p>
                <script>
                    const circleListElement = document.getElementById("circle-list");
                    circleListElement.addEventListener("change", (event) => {
                        window.location.href = event.target.value;
                    })
                </script>
            </nav>
        {% endif %}
        <p>ありがとうございます。<br>「{{ circle.name }}」の INIAD meets web 参加登録が完了しました！</p>
        <p>下のメニューから、サークル基本情報の登録や動画のアップロードなど、<br>
            イベント参加に必要な準備を進めてください！
        </p>
        <section style="margin-top: 3em">
            <p class="task-link">
                <a{% if slack %} class="finished"{% endif %} id="slack-link" onclick="openMovieForm()" href="{{ slack_join_url }}" target="_blank">
                    Slackサークスペースに参加
                    <small>重要な連絡や入会者の通知などをすべてこちらのSlackワークスペースで行います。運営への質問もこちらから。</small>
                </a>
            </p>
            <p class="task-link">
                <a {% if circle.pamphlet and circle.comment %}class="finished" {% elif circle.pamphlet or circle.website_url or circle.twitter_sn or circle.instagram_id or circle.comment %}class="editing" {% endif %}href="{% url 'circle_admin_info' circle.pk %}">
                    サークル基本情報の登録 (4/10締切)
                    <small>配信中・サークルリストで表示する情報を入力してください。サークル名や担当者名などの変更もできます。</small>
                </a>
            </p>
            <p class="task-link">
                <a{% if circle.movie_uploaded_at %} class="finished"{% endif %} id="movie-link" onclick="openMovieForm()" href="{{ movie_form_url }}{{ circle.uuid }}" target="_blank">
                    動画のアップロード (4/10締切)
                    <small>実際に配信する動画を720pまたは1080pのH.264 mp4形式でアップロードしてください。</small>
                </a>
            </p>
            <p class="task-link">
                <a{% if circle.admin_users.count > 1 or circle.staff_users.count > 1 %} class="finished"{% endif %} href="{% url 'circle_admin_members' circle.pk %}">
                    <span class="task-link-title">サークルスタッフの追加 (必要な場合)</span>
                    <small>当日質問対応するスタッフ、このページで情報の登録や動画・PDFのアップロードなどを行える人を追加できます。</small>
                </a>
            </p>
        </section>
    </section>
</main>
</body>
</html>
