{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@600&family=M+PLUS+Rounded+1c:wght@300;400&display=swap" rel="stylesheet">
	<link href="https://vjs.zencdn.net/7.7.5/video-js.css" rel="stylesheet">
	<link href="https://unpkg.com/@videojs/themes@1/dist/forest/index.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css" rel="stylesheet">
	<link rel="stylesheet" href="{% static "/css/main.css" %}?3">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta name="description" content="INIAD 公認サークルの合同Web新歓のページです。">
	<meta property="og:url" content="https://meets.iniad.net/">
	<meta property="og:type" content="website">
	<meta property="og:title" content="INIAD meets Web">
	<meta property="og:description" content="INIAD 公認サークルの合同Web新歓のページです。">
	<meta property="og:site_name" content="INIAD meets Web">
	<meta property="og:image" content="https://meets.iniad.net/static/img/thumbnail.png">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@iniad_webmedia">
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
	<script src="{% static "js/iziToast.js" %}?1"></script>
	<script src="{% static "js/video.js" %}?1"></script>
	<script>
		const staffCircleIdList = [{% for circle in staff_circles %}{{ circle.id }},{% endfor %}]
	</script>
	<script src="{% static "js/after.js" %}?3"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-163289416-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-163289416-1');
	</script>
	<title>INIAD meets Web</title>
</head>
<body>
<header>
	<h1><a href="/"><img src="{% static "/img/logo.svg" %}" alt="INIAD meets Web"></a></h1>
</header>
<main{% if not user.is_display_name_initialized %} class="edit-display-name"{% endif %}>
	<div id="main-wrap">
		<section id="video-wrap">
			<video class="video-js vjs-theme-forest vjs-16-9" id="video" controls playsinline>
				<source src="https://video.ayame-cloud.com/vE4nGEr3ApTmkULYuNxzamhw3Vg8i7dWYzA3rVi7oiNLLXLNztaVza8XLe8rJ3BX/stream.m3u8" type="application/x-mpegURL">
			</video>
		</section>
		<div id="mobile-tab">
			<ul>
				<li id="chat-tab" onclick="mobileTab('chat')">チャット</li>
				<li id="info-tab" onclick="mobileTab('info')">サークル情報</li>
			</ul>
		</div>
		<section id="chat-wrap">
			<div id="chat-forms">
				<div class="display-name-form-wrap">
					<form class="display-name-form" onsubmit="return false;">
						{% csrf_token %}
						<p class="chat-forms-wrap">
							<label for="new-display-name-chat">公開名</label><input type="text" id="new-display-name-chat" name="displayName" value="{{ user.display_name }}" required>
							<input type="submit" value="登録">
						</p>
					</form>
				</div>
				<div id="chat-send-form-wrap" class="after-display-name-form">
					<form id="chat-send-form" onsubmit="return false;">
						<p class="chat-forms-wrap">
							<label for="comment">本文</label><input type="text" id="comment" required>
							<input type="submit">
							<input type="button" value="公開名を変更" onclick="editDisplayName()">
						</p>
					</form>
				</div>
			</div>
			<div id="chat-log-wrap">
				<dl id="chat-log"></dl>
			</div>
		</section>
	</div>
	<div id="side-wrap" class="no-circles-info">
		{% if staff_circles %}
		<div id="side-wrap-tab">
			<ul>
				<li id="user-tab" onclick="staffMode(false)">配信情報</li>
				<li id="staff-tab" onclick="staffMode(true)">スタッフ向け</li>
			</ul>
		</div>
		{% endif %}
		<div id="side-wrap-user">
			<section id="circle-info">
				<h3>サークル情報</h3>
				<p>
					<select id="circles-info" class="circles-select">
						{% for circle in circles %}
							<option value="{{ circle.id }}"{% if not circle.entry_form_url and not circle.is_using_entry_form %} disabled{% endif %}>{{ circle.name }}</option>
						{% endfor %}
					</select>
				</p>
				<div id="circle-play">
					<p><a href="#">このサークルを再生</a></p>
				</div>
				<div id="circle-info-comment">
					<p></p>
				</div>
				<div id="circle-link-wrap">
					<div id="circle-info-panflet">
						<p><a href="#" target="_blank">サークル資料</a></p>
					</div>
					<div id="circle-info-website">
						<p><a href="#" target="_blank">Webサイト</a></p>
					</div>
					<div id="circle-info-twitter">
						<p><a href="#" target="_blank">Twitter(@<span id="circle-info-twitter_sn"></span>)</a></p>
					</div>
				</div>
			</section>
			<section id="circle-question">
				<h3>サークルへ質問</h3>
				<div class="display-name-form-wrap">
					<form class="display-name-form" onsubmit="return false;">
						{% csrf_token %}
						<p class="chat-forms-wrap">
							<label for="new-display-name-question">公開名</label><input type="text" id="new-display-name-question" name="displayName" value="{{ user.display_name }}" required>
							<input type="submit" value="登録">
						</p>
					</form>
				</div>
				<div class="after-display-name-form">
					<form id="circle-question-form" onsubmit="return false;">
						<p>
							<select id="circles-question" class="circles-select">
								{% for circle in circles %}
									<option value="{{ circle.id }}">{{ circle.name }}</option>
								{% endfor %}
							</select>
							<textarea id="question-text" placeholder="質問内容を入力してください" required></textarea>
							<span class="checkbox">
								<input type="checkbox" id="ask-anonymous"><label for="ask-anonymous">匿名で質問する</label>
							</span>
							<input type="submit" value="送信する">
						</p>
					</form>
					<h4 onclick="toggleShowMyQuestions()">送った質問</h4>
					<div id="my-questions">
						<p><a href="#" onclick="toggleShowMyQuestions()">閉じる</a></p>
					</div>
				</div>
			</section>
			{% if user.is_student %}
				<section id="circle-entry"{% if not user.name %} class="edit-name"{% endif %}>
					<h3>サークル入会</h3>
					<div id="name-form">
						<form onsubmit="sendNewName(); return false;">
							<p><label for="new-name">氏名</label><input type="text" id="new-name" value="{{ user.name }}" placeholder="必ず本名を入力してください"></p>
							<p><input type="submit" value="登録"></p>
						</form>
					</div>
					<div id="entry-form-wrap">
						<form id="entry-form" onsubmit="entryCircle(); return false;">
							<p>
								<select id="circles-entry" class="circles-select">
									{% for circle in circles %}
										<option value="{{ circle.id }}"{% if not circle.entry_form_url and not circle.is_using_entry_form %} disabled{% endif %}>{{ circle.name }}</option>
									{% endfor %}
								</select>
							</p>
							<div id="entry-submit-wrap">
								<p id="entry-link"><a href="#" target="_blank">入会フォーム(外部サイト)</a></p>
								<p id="entry-inside-form"><input type="submit" value="入会する！"></p>
							</div>
						</form>
						<div id="cannot-entry-message">
							<p>運営には入会できません。主催のWebメディア研究会へ入会されたい方は<a href="#" onclick="showCircleInfo(8)">こちら</a>。</p>
						</div>
						<h4 onclick="toggleShowEnteredCirles()">入会申込済みサークル</h4>
						{% if my_entries %}
							<ul id="entered_circles">
								{% for entry in my_entries %}
									<li onclick="showCircleInfo({{ entry.circle.id }})">{{ entry.circle.name }}</li>
								{% endfor %}
							</ul>
						{% else %}
							<p id="entered_circles">まだ登録がありません</p>
						{% endif %}
						<p class="bottom-right-link"><a href="#" onclick="editName()">名前を修正</a></p>
						<p class="bottom-right-link"><a href="#" onclick="showTutorial()">チュートリアルを表示</a></p>
					</div>
				</section>
			{% endif %}
		</div>
		{% if staff_circles %}
			<div id="side-wrap-staff">
				<section id="send-circle-message-form-wrap">
					<h3>メッセージ送信</h3>
					<form id="circle-message-send-form" onsubmit="return false;">
						<p>
							<select name="circle">
								{% for circle in staff_circles %}
									<option value="{{ circle.id }}">{{ circle.name }}</option>
								{% endfor %}
							</select>
							<textarea name="comment" required></textarea>
							<input type="submit">
						</p>
					</form>
				</section>
				<section id="get-questions-wrap">
					<h3>届いた質問</h3>
					<div id="get-questions"></div>
				</section>
				{% if has_admin_circle %}
				<p class="circle-admin-link">
					<a href="{% url "circle_admin_list" %}">サークル管理</a>
				</p>
				{% endif %}
			</div>
		{% endif %}
	</div>
</main>
</body>
</html>