{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@600&family=M+PLUS+Rounded+1c:wght@300;400&display=swap" rel="stylesheet">
	<link href="https://vjs.zencdn.net/7.7.5/video-js.css" rel="stylesheet">
	<link href="https://unpkg.com/@videojs/themes@1/dist/forest/index.css" rel="stylesheet">
	<link rel="stylesheet" href="{% static "/css/main.css" %}?1">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta name="description" content="INIAD 公認サークルの合同Web新歓のページです。">
	<meta property="og:url" content="https://meets.iniad.net/">
	<meta property="og:type" content="website">
	<meta property="og:title" content="INIAD meets Web">
	<meta property="og:description" content="INIAD 公認サークルの合同Web新歓のページです。">
	<meta property="og:site_name" content="INIAD meets Web">
	<meta property="og:image" content="https://meets.iniad.net/static/img/thumbnail.png">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@iniad_webmedia">
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-163289416-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-163289416-1');
	</script>
	<script>
		const sendNewName = () => {
			const newNameElement = document.getElementById("new-name")
			const prm = new URLSearchParams();
			prm.append("csrfmiddlewaretoken",Cookies.get('csrftoken'));
			prm.append("name",newNameElement.value);
			fetch("/api/user/name/update", {
				method: "POST",
				body: prm,
			})
				.then(function (response) {
					return response.json();
				})
				.then(function (json) {
					if (json.success) {
						console.log(json.name)
					}
				})
		}
		const sendNewDisplayName = () => {
			const newNameElement = document.getElementById("new-display-name")
			const prm = new URLSearchParams();
			prm.append("csrfmiddlewaretoken",Cookies.get('csrftoken'));
			prm.append("name",newNameElement.value);
			fetch("/api/user/display_name/update", {
				method: "POST",
				body: prm,
			})
				.then(function (response) {
					return response.json();
				})
				.then(function (json) {
					if (json.success) {
						console.log(json.name)
					}
				})
		}
		window.onload = () => {
			const circleListElement = document.getElementById("circle-list");
			circleListElement.addEventListener("change", (event) => {
				window.location.href = event.target.value;
			})
		}
	</script>
	<style>
		main{
			padding: 0 10px;
		}
	</style>
	<script src="{% static "js/video.js" %}"></script>
	<title>サークル設定 - INIAD meets Web</title>
</head>
<body>
<header>
	<h1><a href="/"><img src="{% static "/img/logo.svg" %}" alt="INIAD meets Web"></a></h1>
</header>
<main>
	<section id="circle-admin">
		{% if is_permitted %}
			<h2>サークル管理</h2>
			<p>
				<label for="circle-list">サークル</label>
				<select id="circle-list">
					<option value="./">選択してください</option>
					{% for c in admin_circles %}
						<option value="{{ c.pk }}"{% if circle.pk == c.pk %} selected{% endif %}>{{ c.name }}</option>
					{% endfor %}
				</select>
			</p>
			{% for error in errors %}
				<p>Error: {{ error }}</p>
			{% endfor %}
			{% if circle %}
				<div id="circle-config">
					<h3>サークル基本情報</h3>
					<script>
						const toggleEntryFormUrl = () => {
							const isUsingEntryFormCheckboxElement = document.getElementById("is_using_entry_form")
							const entryFormUrlInputElement = document.getElementById("entry_form_url")
							if (isUsingEntryFormCheckboxElement.checked) {
								entryFormUrlInputElement.disabled = true
							} else {
								entryFormUrlInputElement.disabled = false
							}
						}
					</script>
					<form method="post">
						<p style="display: flex; align-items: center;"><input type="checkbox" id="is_using_entry_form" name="is_using_entry_form" value="true"{% if circle.is_using_entry_form %} checked{% endif %} onclick="toggleEntryFormUrl()"><label for="is_using_entry_form">INIAD meets Webシステム内部のエントリーフォームを利用する</label></p>
						<dl>
							<dt><label for="entry_form_url">外部エントリーフォームURL</label></dt>
							<dd><input type="url" id="entry_form_url" name="entry_form_url" value="{% if circle.entry_form_url %}{{ circle.entry_form_url }}{% endif %}" placeholder="https://"{% if circle.is_using_entry_form %} disabled{% endif %}></dd>
							<dt><label for="panflet_url">資料PDF URL</label></dt>
							<dd><input type="url" id="panflet_url" name="panflet_url" value="{% if circle.panflet_url %}{{ circle.panflet_url }}{% endif %}" placeholder="https://"></dd>
							<dt><label for="website_url">公式サイトURL</label></dt>
							<dd><input type="url" id="website_url" name="website_url" value="{% if circle.website_url %}{{ circle.website_url }}{% endif %}" placeholder="https://"></dd>
							<dt><label for="twitter_sn">Twitter ID</label></dt>
							<dd class="twitter_sn_wrap">@<input type="text" id="twitter_sn" name="twitter_sn" value="{% if circle.twitter_sn %}{{ circle.twitter_sn }}{% endif %}"></dd>
							<dt><label for="circle_comment">一言説明</label></dt>
							<dd><textarea id="circle_comment" name="circle_comment" placeholder="改行3回以内で、120文字以内でお願いします。" maxlength="120">{% if circle.comment %}{{ circle.comment }}{% endif %}</textarea></dd>
						</dl>
						<p><input type="submit"></p>
						<input type="hidden" name="method" value="edit_info">
						{% csrf_token %}
					</form>
					<h3>入会者リスト</h3>
					<p><a href="{% url "circle_entry_csv" circle.pk %}">CSVでダウンロード</a></p>
					<table>
						<tr><th>学籍番号</th><th>氏名</th><th>メールアドレス</th><th>申込日時</th></tr>
						{% for entry in circle.entries.all %}
							<tr><td>{{ entry.user.student_id }}</td><td>{{ entry.user.name }}</td><td><a href="mailto:{{ entry.user.email }}">{{ entry.user.email }}</a></td><td>{{ entry.created_at | date:"Y-m-d H:i:s" }}</td></tr>
						{% empty %}
							<tr><td colspan="4">まだ登録がありません</td></tr>
						{% endfor %}
						<tr></tr>
					</table>

					<h3>スタッフ<small>(チャットや質問への回答をスタッフとして書き込めるアカウント)</small></h3>
					<ul>
						{% for staff_user in circle.staff_users.all %}
							<li>
								{{ staff_user.email }}{% if staff_user.userinfo %}({{ staff_user.userinfo.first_name }} {{ staff_user.userinfo.last_name }}){% endif %}
								{% if circle.staff_users.count is not 1 %}
								<form method="post" style="display: inline">
									<input type="submit" value="削除">
									<input type="hidden" name="method" value="remove_staff">
									<input type="hidden" name="remove_pk" value="{{ staff_user.pk }}">
									{% csrf_token %}
								</form>
								{% endif %}
							</li>
						{% endfor %}
					</ul>
					<form id="add_staff" method="post">
						<dl>
							<dt><label for="add_staff_email">追加(INIADメールアドレスをすべて半角小文字で改行区切りで入力してください</label></dt>
							<dd><textarea id="add_staff_email" name="add_email" cols="30" rows="5"></textarea></dd>
						</dl>
						<input type="hidden" name="method" value="add_staff">
						{% csrf_token %}
						<input type="submit">
					</form>
					<h3>管理者<small>(この管理画面を開けるアカウント)</small></h3>
					<ul>
						{% for admin_user in circle.admin_users.all %}
							<li>
								{{ admin_user.email }}{% if admin_user.userinfo %}({{ admin_user.userinfo.first_name }} {{ admin_user.userinfo.last_name }}){% endif %}
								{% if circle.admin_users.count is not 1 %}
									<form method="post" style="display: inline">
										<input type="submit" value="削除">
										<input type="hidden" name="method" value="remove_admin">
										<input type="hidden" name="remove_pk" value="{{ admin_user.pk }}">
										{% csrf_token %}
									</form>
								{% endif %}
							</li>
						{% endfor %}
					</ul>
					<form id="add_admin" method="post">
						<dl>
							<dt><label for="add_admin_email">追加(INIADメールアドレスをすべて半角小文字で改行区切りで入力してください</label></dt>
							<dd><textarea id="add_admin_email" name="add_email" cols="30" rows="5"></textarea></dd>
						</dl>
						<input type="hidden" name="method" value="add_admin">
						{% csrf_token %}
						<input type="submit">
					</form>
				</div>
			{% endif %}
		{% else %}
			<p>Error: 権限がありません</p>
		{% endif %}
	</section>
</main>
</body>
</html>