@charset "UTF-8";
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #edf7f5;
}

a {
  color: #10589c;
  text-decoration: none;
}

.display-name-form-wrap {
  display: none;
}

.edit-display-name .display-name-form-wrap {
  display: block;
}
.edit-display-name .after-display-name-form {
  display: none;
}

input[type=submit], input[type=button] {
  cursor: pointer;
}

textarea {
  resize: none;
}

input, select, textarea {
  font-family: inherit;
  margin-top: 5px;
  font-size: 1.1em;
  padding: 0.2em 0.5em;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input:not([type=checkbox]), select:not([type=checkbox]), textarea:not([type=checkbox]) {
  border: 2px solid #10589C;
  border-radius: 5px;
  width: calc(100%);
  background-color: white;
}
input[type=checkbox], select[type=checkbox], textarea[type=checkbox] {
  width: 50px;
  height: 50px;
  padding: 4px;
  margin: 0;
}
input[type=checkbox]::before, select[type=checkbox]::before, textarea[type=checkbox]::before {
  content: "";
  display: block;
  margin-top: 0;
  margin-bottom: 5px;
  margin-right: 7px;
  padding: 0;
  width: 36px;
  height: 36px;
  border: 2px solid #10589C;
  transition: all 0.12s, border-color 0.08s;
}
input[type=checkbox]:checked::before, select[type=checkbox]:checked::before, textarea[type=checkbox]:checked::before {
  width: 15px;
  margin: 10px;
  margin-top: -5px;
  margin-right: 15px;
  padding-left: 1px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
input:disabled, select:disabled, textarea:disabled {
  background-color: lightgray;
}
@media (max-width: 899px) {
  input, select, textarea {
    width: calc(100% - 30px);
    margin-left: 10px;
    margin-right: 20px;
  }
}

.checkbox {
  display: flex;
  align-items: center;
}

select {
  margin: 0;
  padding-right: 38px;
  background-image: linear-gradient(45deg, transparent 50%, #10589C 50%), linear-gradient(135deg, #10589C 50%, transparent 50%);
  background-position: calc(100% - 20px) 50%, calc(100% - 15px) 50%;
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
}

header {
  padding: 0 15px;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
}
header h1 {
  margin: 0;
}
header h1 img {
  height: 60px;
}

main {
  display: flex;
  width: 100vw;
  height: calc(100% - 60px);
  justify-content: stretch;
  align-items: stretch;
}
main #main-wrap {
  flex-shrink: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-basis: 1000px;
  max-width: calc(68vh / 0.56);
  height: 100%;
}
main #main-wrap #video-wrap {
  flex-shrink: 0;
  padding: 0 10px;
  flex-basis: fit-content;
}
main #main-wrap #chat-wrap {
  min-height: 0;
  padding: 10px;
  padding-bottom: 0;
  flex-shrink: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
main #main-wrap #chat-wrap #chat-forms .chat-forms-wrap {
  display: flex;
  align-items: center;
}
main #main-wrap #chat-wrap #chat-forms .chat-forms-wrap input {
  margin: 0;
  display: inline-block;
}
main #main-wrap #chat-wrap #chat-forms .chat-forms-wrap input[type=text] {
  width: calc(80% - 20em);
}
main #main-wrap #chat-wrap #chat-forms .chat-forms-wrap input[type=submit], main #main-wrap #chat-wrap #chat-forms .chat-forms-wrap input[type=button] {
  width: 8em;
}
main #main-wrap #chat-wrap #chat-forms p {
  margin: 0;
}
main #main-wrap #chat-wrap #chat-forms #chat-send-form-wrap label {
  display: none;
}
main #main-wrap #chat-wrap #chat-forms #chat-send-form-wrap input[type=text] {
  width: 70%;
}
main #main-wrap #chat-wrap #chat-log-wrap {
  overflow: scroll;
  height: auto;
}
main #main-wrap #chat-wrap #chat-log-wrap #chat-log .sender-circle {
  color: #10589c;
}
main #main-wrap #chat-wrap #chat-log-wrap #chat-log .sender-circle::before {
  content: "@";
}
main #main-wrap #chat-wrap #chat-log-wrap #chat-log .receiver::before {
  content: ">";
  padding: 0 0.3em;
}
main #main-wrap #chat-wrap #chat-log-wrap #chat-log time {
  display: block;
  color: gray;
  font-size: 0.8em;
}
main #main-wrap #chat-wrap #chat-log-wrap #chat-log time::before {
  content: "(";
}
main #main-wrap #chat-wrap #chat-log-wrap #chat-log time::after {
  content: ")";
}
main #side-wrap {
  flex-shrink: 2;
  flex-grow: 2;
  flex-basis: 300px;
  padding: 0 15px;
  overflow: scroll;
}
main #side-wrap.no-circles-info {
  opacity: 0;
}
main #side-wrap h3 {
  color: #e24863;
  border-left: #e24863 solid 5px;
  border-bottom: #e24863 solid 2px;
  padding-left: 0.5em;
  font-family: "Baloo Paaji 2", cursive;
  text-shadow: 2px 2px 2px #d8d9d9;
  box-shadow: -1px 2px 2px #d8d9d9;
  margin: 0.2em 0;
  margin-left: -15px;
}
main #side-wrap #circle-info #circle-info-start-time {
  display: flex;
  flex-wrap: wrap;
}
main #side-wrap #circle-info #circle-info-start-time dd {
  margin-left: 0.5em;
}
main #side-wrap #circle-info #circle-link-wrap {
  display: flex;
}
main #side-wrap #circle-info #circle-link-wrap > div:not(:last-child) {
  padding-right: 1em;
}
main #side-wrap #circle-info #circle-link-wrap p {
  margin-top: 0;
}
main #side-wrap #circle-info .nodata {
  display: none !important;
}
main #side-wrap #circle-question h4 {
  cursor: pointer;
  color: #10589c;
}
main #side-wrap #circle-question h4::before {
  content: "▷";
}
main #side-wrap #circle-question.open h4::before {
  content: "▽";
}
main #side-wrap #circle-question.open #my-questions {
  display: block;
}
main #side-wrap #circle-question #my-questions {
  display: none;
}
main #side-wrap #circle-question #my-questions .question {
  padding-left: 1em;
}
main #side-wrap #circle-question #my-questions .question:not(:last-child) {
  margin-bottom: 0.5em;
}
main #side-wrap #circle-question #my-questions .question p {
  margin: 0;
}
main #side-wrap #circle-question #my-questions .question p.userinfo {
  font-weight: bold;
  color: #397057;
}
main #side-wrap #circle-question #my-questions .question p.userinfo .receiver::before {
  content: ">";
  padding: 0 0.3em;
}
main #side-wrap #circle-question #my-questions .question p.time time {
  color: gray;
  font-size: 0.8em;
}
main #side-wrap #circle-question #my-questions .question p.time time::before {
  content: "(";
}
main #side-wrap #circle-question #my-questions .question p.time time::after {
  content: ")";
}
main #side-wrap #circle-question #my-questions .question .question-reply {
  padding-left: 1em;
  font-size: 0.95em;
  border-left: solid #397057 1.5px;
}
main #side-wrap #circle-question #my-questions .question .question-reply .sender-circle {
  color: #397057;
}
main #side-wrap #circle-question #my-questions .question .question-reply .sender-circle::before {
  content: "@";
}
main #side-wrap #circle-entry #cannot-entry-message {
  display: none;
}
main #side-wrap #circle-entry.cannot-entry #cannot-entry-message {
  display: block;
}
main #side-wrap #circle-entry.cannot-entry #entry-submit-wrap {
  display: none;
}
main #side-wrap #circle-entry #entry-form-wrap #entry-submit-wrap #entry-link {
  display: none;
}
main #side-wrap #circle-entry #entry-form-wrap #entry-submit-wrap.use_outside_form #entry-link {
  display: block;
}
main #side-wrap #circle-entry #entry-form-wrap #entry-submit-wrap.use_outside_form #entry-inside-form {
  display: none;
}
main #side-wrap #circle-entry #entry-form-wrap h4 {
  cursor: pointer;
  color: #10589c;
}
main #side-wrap #circle-entry #entry-form-wrap h4::before {
  content: "▷";
}
main #side-wrap #circle-entry #entry-form-wrap.open h4::before {
  content: "▽";
}
main #side-wrap #circle-entry #entry-form-wrap.open #entered_circles {
  display: block;
}
main #side-wrap #circle-entry #entry-form-wrap #entered_circles {
  display: none;
}
main #side-wrap #circle-entry #entry-form-wrap p#entered_circles {
  margin-left: 1em;
}
main #side-wrap #circle-entry #name-form {
  display: none;
}
main #side-wrap #circle-entry.edit-name #name-form {
  display: block;
}
main #side-wrap #circle-entry.edit-name #entry-form-wrap {
  display: none;
}
main #side-wrap #circle-entry .bottom-right-link {
  text-align: right;
  font-size: 0.8em;
}
main #side-wrap #side-wrap-tab {
  text-align: center;
}
main #side-wrap #side-wrap-tab ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin-left: -15px;
}
main #side-wrap #side-wrap-tab ul li {
  flex-grow: 1;
  flex-shrink: 1;
  color: #e24863;
  padding: 10px;
  display: block;
  border-bottom: #e24863 solid 2px;
  cursor: pointer;
}
main #side-wrap #side-wrap-staff .circle-admin-link {
  text-align: right;
}
main #side-wrap #side-wrap-staff #get-questions-wrap #get-questions .question:not(:last-child) {
  margin-bottom: 0.5em;
}
main #side-wrap #side-wrap-staff #get-questions-wrap #get-questions .question p {
  margin: 0;
}
main #side-wrap #side-wrap-staff #get-questions-wrap #get-questions .question p.userinfo {
  font-weight: bold;
  color: #10589c;
}
main #side-wrap #side-wrap-staff #get-questions-wrap #get-questions .question p.userinfo .receiver::before {
  content: ">";
  padding: 0 0.3em;
}
main #side-wrap #side-wrap-staff #get-questions-wrap #get-questions .question p.time time {
  color: gray;
  font-size: 0.8em;
}
main #side-wrap #side-wrap-staff #get-questions-wrap #get-questions .question p.time time::before {
  content: "(";
}
main #side-wrap #side-wrap-staff #get-questions-wrap #get-questions .question p.time time::after {
  content: ")";
}
main #side-wrap #side-wrap-staff #get-questions-wrap #get-questions .question .question-reply {
  padding-left: 1em;
  font-size: 0.8em;
  border-left: solid #2192c5 1.5px;
}
main #side-wrap.staff-mode #side-wrap-tab #staff-tab {
  background-color: #e24863;
  color: white;
  cursor: default;
}
main #side-wrap.staff-mode #side-wrap-user {
  display: none;
}
main #side-wrap.staff-mode #side-wrap-staff {
  display: block;
}
main #side-wrap:not(.staff-mode) #side-wrap-tab #user-tab {
  background-color: #e24863;
  color: white;
  cursor: default;
}
main #side-wrap:not(.staff-mode) #side-wrap-user {
  display: block;
}
main #side-wrap:not(.staff-mode) #side-wrap-staff {
  display: none;
}

#circle-admin #circle-config {
  padding-left: 15px;
  padding-right: 5px;
}
#circle-admin #circle-config h3 {
  color: #e24863;
  border-left: #e24863 solid 5px;
  border-bottom: #e24863 solid 2px;
  padding-left: 0.5em;
  font-family: "Baloo Paaji 2", cursive;
  text-shadow: 2px 2px 2px #d8d9d9;
  box-shadow: -1px 2px 2px #d8d9d9;
  margin: 0.2em 0;
  margin-left: -15px;
  margin-right: -5px;
}
#circle-admin .twitter_sn_wrap {
  display: flex;
  align-items: center;
}
#circle-admin .twitter_sn_wrap input {
  margin-left: 0.2em;
}
#circle-admin li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#circle-admin li input[type=submit], #circle-admin li[type=button] {
  width: 8em;
}
#circle-admin table {
  margin: auto;
  text-align: center;
}
#circle-admin table a {
  color: black;
}

#admin {
  padding-left: 15px;
  padding-right: 5px;
}
#admin h3 {
  color: #e24863;
  border-left: #e24863 solid 5px;
  border-bottom: #e24863 solid 2px;
  padding-left: 0.5em;
  font-family: "Baloo Paaji 2", cursive;
  text-shadow: 2px 2px 2px #d8d9d9;
  box-shadow: -1px 2px 2px #d8d9d9;
  margin: 0.2em 0;
  margin-left: -15px;
  margin-right: -5px;
}

/*# sourceMappingURL=main.css.map */
