@mixin media($a: false, $b: false, $c: false){
	$value: large;
	@if($a == $value or $b == $value or $c == $value){
		@media (min-width: 900px) {
			@content;
		}
	}

	$value: small;
	@if($a == $value or $b == $value or $c == $value){
		@media (max-width: 899px) {
			@content;
		}
	}
}

html, body{
	margin: 0;
	padding: 0;
	height: 100%;
}

body{
	font-family: 'M PLUS Rounded 1c', sans-serif;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #edf7f5;
}

a{
	color: #10589c;
	text-decoration: none;
}

.display-name-form-wrap{
	display: none;
}
.edit-display-name{
	.display-name-form-wrap{
		display: block;
	}
	.after-display-name-form{
		display: none;
	}
}

input[type=submit], input[type=button]{
	cursor: pointer;
}

textarea{
	resize: none;
}

input, select, textarea{
	font-family: inherit;
	margin-top: 5px;
	font-size: 1.1em;
	padding: 0.2em 0.5em;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	&:not([type=checkbox]){
		border: 2px solid #10589C;
		border-radius: 5px;
		width: calc(100%);
		background-color: white;
	}
	&[type=checkbox]{
		width: 50px;
		height: 50px;
		padding: 4px;
		margin: 0;
		&::before{
			content: "";
			display: block;
			margin-top: 0;
			margin-bottom: 5px;
			margin-right: 7px;
			padding: 0;
			width: 36px;
			height: 36px;
			border: 2px solid #10589C;
			transition: all .12s, border-color .08s;
		}
		&:checked::before{
			width: 15px;
			margin: 10px;
			margin-top: -5px;
			margin-right: 15px;
			padding-left: 1px;
			border-radius: 0;
			opacity: 1;
			border-top-color: transparent;
			border-left-color: transparent;
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
		}
	}
	&:disabled{
		background-color: lightgray;
	}
	@include media(small){
		width: 100%;
	}
}
.checkbox{
	display: flex;
	align-items: center;
}

select{
	margin: 0;
	padding-right: 38px;
	background-image:
			linear-gradient(45deg, transparent 50%, #10589C 50%),
			linear-gradient(135deg, #10589C 50%, transparent 50%);
	background-position:
			calc(100% - 20px) 50%,
			calc(100% - 15px) 50%;
	background-size:
			5px 5px,
			5px 5px;
	background-repeat: no-repeat;
	//background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 30"><defs><style>.cls-1{fill:none;stroke:#10589c;stroke-miterlimit:10;}</style></defs><polygon class="cls-1" points="8 8 24 8 16 22 8 8"/></svg>') no-repeat right;
}

header{
	padding: 0 15px;
	width: 100%;
	height: 60px;
	box-sizing: border-box;
	h1{
		margin: 0;
		img{
			height: 60px;
		}
	}
}



main{
	@include media(large){
		display: flex;
		height: calc(100% - 60px);
	}
	width: 100vw;
	justify-content: stretch;
	align-items: stretch;
	#main-wrap{
		flex-shrink: 1;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		flex-basis: 1000px;
		max-width: calc(68vh / 0.56);
		height: 100%;
		#video-wrap{
			flex-shrink: 0;
			@include media(large){
				padding: 0 10px;
			}
			flex-basis: fit-content;
		}
		#chat-wrap{
			min-height: 0;
			padding: 10px;
			padding-bottom: 0;
			flex-shrink: 1;
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			#chat-forms{
				.chat-forms-wrap{
					display: flex;
					align-items: center;
					@include media(small){
						flex-wrap: wrap;
						input{
							&[type=text]{
								width: 100% !important;
							}
							&[type=submit], &[type=button]{
								width: 50% !important;
							}
						}
					}
					input{
						margin: 0;
						display: inline-block;
						&[type=text]{
							width: calc(80% - 20em);
						}
						&[type=submit], &[type=button]{
							width: 8em;
						}
					}
				}
				p{
					margin: 0;
				}
				#chat-send-form-wrap{
					label{
						display: none;
					}
					input[type=text]{
						width: 70%;
					}
				}
			}
			#chat-log-wrap{
				overflow: scroll;
				height: auto;
				#chat-log{
					.sender-circle{
						color: #10589c;
						&::before{
							content: "@";
						}
					}
					.receiver{
						&::before{
							content: ">";
							padding: 0 0.3em;
						}
					}
					time{
						display: block;
						color: gray;
						font-size: 0.8em;
						&::before{
							content: "(";
						}
						&::after{
							content: ")";
						}
					}
				}
			}
		}
	}

	#side-wrap{
		&.no-circles-info{
			opacity: 0;
		}
		flex-shrink: 2;
		flex-grow: 2;
		flex-basis: 300px;
		padding: 0 15px;
		@include media(small){
			padding-left: 30px;
		}
		overflow: scroll;
		h3{
			color: #e24863;
			border-left: #e24863 solid 5px;
			border-bottom: #e24863 solid 2px;
			padding-left: 0.5em;
			font-family: 'Baloo Paaji 2', cursive;
			text-shadow: 2px 2px 2px #d8d9d9;
			box-shadow: -1px 2px 2px #d8d9d9;
			margin: 0.2em 0;
			margin-left: -15px;
		}
		#circle-info{
			#circle-info-start-time{
				display: flex;
				flex-wrap: wrap;
				dd{
					margin-left: 0.5em;
				}
			}
			#circle-link-wrap{
				display: flex;
				> div:not(:last-child){
					padding-right: 1em;
				}
				p{
					margin-top: 0;
				}
			}
			.nodata{
				display: none !important;
			}
		}
		#circle-question{
			h4{
				cursor: pointer;
				color: #10589c;
				&::before{
					content: "▷";
				}
			}
			&.open{
				h4::before{
					content: "▽";
				}
				#my-questions{
					display: block;
				}
			}
			#my-questions{
				display: none;

				.question{
					padding-left: 1em;
					&:not(:last-child){
						margin-bottom: 0.5em;
					}
					p{
						margin: 0;
						&.userinfo{
							font-weight: bold;
							color: #397057;
							.receiver{
								&::before{
									content: ">";
									padding: 0 0.3em;
								}
							}
						}
						&.time time{
							color: gray;
							font-size: 0.8em;
							&::before{
								content: "(";
							}
							&::after{
								content: ")";
							}
						}
					}
					.question-reply{
						padding-left: 1em;
						font-size: 0.95em;
						border-left: solid #397057 1.5px;

						.sender-circle{
							color: #397057;
							&::before{
								content: "@";
							}
						}
					}
				}
			}
		}
		#circle-entry{
			#cannot-entry-message{
				display: none;
			}
			&.cannot-entry{
				#cannot-entry-message{
					display: block;
				}
				#entry-submit-wrap{
					display: none;
				}
			}
			#entry-form-wrap{
				#entry-submit-wrap{
					#entry-link{
						display: none;
					}
					&.use_outside_form{
						#entry-link{
							display: block;
						}
						#entry-inside-form{
							display: none;
						}
					}
				}
				h4{
					cursor: pointer;
					color: #10589c;
					&::before{
						content: "▷";
					}
				}
				&.open{
					h4::before{
						content: "▽";
					}
					#entered_circles{
						display: block;
					}
				}
				#entered_circles{
					display: none;
				}
				p#entered_circles{
					margin-left: 1em;
				}
			}

			#name-form{
				display: none;
			}
			&.edit-name{
				#name-form{
					display: block;
				}
				#entry-form-wrap{
					display: none;
				}
			}
			.bottom-right-link{
				text-align: right;
				font-size: 0.8em;
			}
		}

		#side-wrap-tab{
			text-align: center;
			margin-left: -15px;
			ul{
				display: flex;
				list-style: none;
				padding: 0;
				li{
					flex-grow: 1;
					flex-shrink: 1;
					flex-basis: 50vw;
					color: #e24863;
					padding: 10px;
					display: block;
					border-bottom: #e24863 solid 2px;
					cursor: pointer;
				}
			}
		}

		#side-wrap-staff{
			.circle-admin-link{
				text-align: right;
			}
			#get-questions-wrap{
				#get-questions{
					.question{
						&:not(:last-child){
							margin-bottom: 0.5em;
						}
						p{
							margin: 0;
							&.userinfo{
								font-weight: bold;
								color: #10589c;
								.receiver{
									&::before{
										content: ">";
										padding: 0 0.3em;
									}
								}
							}
							&.time time{
								color: gray;
								font-size: 0.8em;
								&::before{
									content: "(";
								}
								&::after{
									content: ")";
								}
							}
						}
						.question-reply{
							padding-left: 1em;
							font-size: 0.8em;
							border-left: solid #2192c5 1.5px;
						}
					}
				}
			}
		}

		&.staff-mode{
			#side-wrap-tab{
				#staff-tab{
					background-color: #e24863;
					color: white;
					cursor: default;
				}
			}
			#side-wrap-user{
				display: none;
			}
			#side-wrap-staff{
				display: block;
			}
		}
		&:not(.staff-mode){
			#side-wrap-tab{
				#user-tab{
					background-color: #e24863;
					color: white;
					cursor: default;
				}
			}
			#side-wrap-user{
				display: block;
			}
			#side-wrap-staff{
				display: none;
			}
		}
	}


	@include media(small){

		#mobile-tab{
			text-align: center;
			ul{
				display: flex;
				list-style: none;
				padding: 0;
				margin-left: -15px;
				li{
					flex-grow: 1;
					flex-shrink: 1;
					flex-basis: 50%;
					color: #e24863;
					padding: 10px;
					display: block;
					border-bottom: #e24863 solid 2px;
					cursor: pointer;
				}
			}
		}

		&.chat-mode{
			#mobile-tab{
				#chat-tab{
					background-color: #e24863;
					color: white;
					cursor: default;
				}
			}
			#side-wrap{
				display: none !important;
			}
			#chat-wrap{
				display: flex !important;
			}
		}
		&:not(.chat-mode){
			#mobile-tab{
				#info-tab{
					background-color: #e24863;
					color: white;
					cursor: default;
				}
			}
			#side-wrap{
				display: block !important;
			}
			#chat-wrap{
				display: none !important;
			}
		}
	}
	@include media(large){
		#mobile-tab{
			display: none;
		}
	}

}

#circle-admin{
	#circle-config{
		padding-left: 15px;
		padding-right: 5px;
		h3{
			color: #e24863;
			border-left: #e24863 solid 5px;
			border-bottom: #e24863 solid 2px;
			padding-left: 0.5em;
			font-family: 'Baloo Paaji 2', cursive;
			text-shadow: 2px 2px 2px #d8d9d9;
			box-shadow: -1px 2px 2px #d8d9d9;
			margin: 0.2em 0;
			margin-left: -15px;
			margin-right: -5px;
		}
	}
	.twitter_sn_wrap{
		display: flex;
		align-items: center;
		input{
			margin-left: 0.2em;
		}
	}
	li{
		display: flex;
		justify-content: space-between;
		align-items: center;
		input[type=submit], &[type=button]{
			width: 8em;
		}
	}
	table{
		margin: auto;
		text-align: center;
		a{
			color: black;
		}
	}
}

#admin{
	padding-left: 15px;
	padding-right: 5px;
	h3{
		color: #e24863;
		border-left: #e24863 solid 5px;
		border-bottom: #e24863 solid 2px;
		padding-left: 0.5em;
		font-family: 'Baloo Paaji 2', cursive;
		text-shadow: 2px 2px 2px #d8d9d9;
		box-shadow: -1px 2px 2px #d8d9d9;
		margin: 0.2em 0;
		margin-left: -15px;
		margin-right: -5px;
	}
}