@mixin media($a: false, $b: false, $c: false){
	$value: large;
	@if($a == $value or $b == $value or $c == $value){
		@media (min-width: 900px) {
			@content;
		}
	}

	$value: small;
	@if($a == $value or $b == $value or $c == $value){
		@media (max-width: 899px) {
			@content;
		}
	}
}
@keyframes fadein{
	from{
		opacity: 0;
		transform: translateY(10px);
	}
	to{
		opacity: 1;
		transform: translateY(0);
	}
}

html, body{
	margin: 0;
	padding: 0;
	height: 100%;
}

body{
	background-image: url("../img/key-image.jpg");
	background-size: auto 100%;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: white;
}

main{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

header{
	padding: 0 15px;
	width: 100%;
	@include media(large){
		height: 5.5vw;
	}
	@include media(small){
		height: 60px;
	}
	box-sizing: border-box;
	h1{
		margin: 0;
		img{
			@include media(large){
				height: 5.5vw;
			}
			@include media(small){
				height: 60px;
			}
		}
	}
	background-color: rgba(#FFFFFF, 0.7);
}
main{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100vw;
	box-sizing: border-box;
	padding-top: 8vh;
	animation-name: fadein;
	animation-duration: 1.5s;
	animation-fill-mode: both;
	#btn_login{
		a{
			text-align: center;
			font-size: 1.2em;
			display: block;
			border: #ffffff solid 1px;
			border-radius: 15px;
			padding: 15px;
			color: #ffffff;
			text-decoration: none;
			font-weight: 300;
			animation-name: fadein;
			animation-duration: 1.5s;
			animation-delay: 1.2s;
			animation-fill-mode: both;
			&:hover{
				font-weight: 400;
			}
		}
	}
	@include media(large){
		h2{
			font-size: 3vw;
			padding-top: 60px;
		}
		p{
			font-size: 1.5vw;
		}
	}
	@include media(small){
		h2{
			font-size: 4vw;
		}
		p{
			font-size: 3vw;
		}
	}
}


footer{
	animation-name: fadein;
	animation-duration: 1.5s;
	animation-delay: 2s;
	animation-fill-mode: both;
	.share-button{
		display: flex;
		justify-content: center;
		> * {
			margin: 10px;
		}
	}
	text-align: center;
	padding-top: 1em;
	font-size: 1.0vw;
	#info{
		text-align: center;
		font-weight: 300;
		@include media(large){
			font-size: 1.2vw;
		}
		@include media(small){
			font-size: 2.5vw;
		}
		img{
			display: block;
			height: 5vw;
			margin: auto;
		}
	}
	small{
		@include media(large){
			font-size: 1.0vw;
		}
		@include media(small){
			font-size: 2vw;
		}
		a{
			color: #ffffff;
			text-decoration: none;
		}
	}
	nav{
		ul{
			list-style: none;
			padding: 0;
			margin: 0;
			li{
				display: block;
				margin: 0 48px;
				&.text{
					margin-bottom: 1.5em;
					color: #003299;
					a{
						text-decoration: none;
						color: #003299;
						&:link, &:visited{
							text-decoration: none;
							color: #003299;
						}
						&:hover{
							color: #23ADE5;
						}
					}
				}
				img{
					height: 32px;
				}
			}
		}
	}
}